.mainHeader {
    background: linear-gradient(to bottom right, #ffffff, #fffffff6);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 auto;
}

.header-content a {
    color: inherit;
    text-decoration: none;
}

.header-content img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-left: 186px;
}

.titlename {
    font-size: 34px;
    color: #00006f;
    margin: 0;
    margin-left: 10px;
    font-weight: bolder;
    font-family:Georgia;
}

.header-actions {
    display: flex;
    align-items: center;
}

.signIn, .cart-button{
    margin-left: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family:Cambria;
}


.signIn {
    color: rgb(255, 0, 0);
}

.cart-button:hover {
    color: rgb(255, 255, 255);
}

.signIn:hover {
    color: rgb(255, 255, 255);
}