.home-content {
    text-align: center;
}

.home-section {
    margin-bottom: 0px;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
}

.section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
    background: rgba(0, 0, 0, 0.4); /* Add a semi-transparent dark overlay to section-content */
}

.section-image {
    width: 50%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    margin: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.section-text {
    width: 40%;
    max-width: 500px;
    text-align: left;
    margin: 10px;
}

.section-text h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    font-size: 36px;
    font-family: Impact;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.section-text p {
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.section-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    text-decoration: none;
    border-radius: 35px;
    transition: background-color 0.3s;
    font-family: 'Trebuchet MS';
    font-weight: 600px;
}

.section-button:hover {
    background-color: #ffffff00;
    color: rgb(255, 32, 32);
    border: 2px solid rgb(255, 61, 61);
}

@media (max-width: 768px) {
    .section-image, .section-text {
        width: 90%;
        max-width: 100%;
        text-align: center;
    }

    .section-content {
        justify-content: center;
    }
}

.shop-section {
    background-image: url('../assets/images/shophomeb.jpeg');
    background-blend-mode: multiply; /* Blend the background image with a darker color */
}

.coaching-section {
    background-image: url('../assets/images/homecoach.jpeg');
    background-blend-mode: multiply; /* Blend the background image with a darker color */
}

.services-section {
    background-image: url('../assets/images/servicehome.png');
    background-blend-mode: multiply; /* Blend the background image with a darker color */
}

.consulting-section {
    background-image: url('../assets/images/consultbghome.png');
    background-blend-mode: multiply; /* Blend the background image with a darker color */
}