.home-content {
    text-align: center;
}

.home-section {
    margin-bottom: 0px;
    background-color: #f9f9f9;
}

.section-content {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
    height: 400px;
}

.section-image {
    width: 40%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    margin: 25px;
}

.section-text {
    width: 40%;
    max-width: 500px;
    text-align: left;
    margin: 10px;
}

.section-text h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    font-size: 36px;
    font-family: Impact;
}

.section-text p {
    color: #cccccc;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family:'Trebuchet MS';
    font-size: 20px;
}

.section-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    border: 2px solid white ;
    text-decoration: none;
    border-radius: 35px;
    transition: background-color 0.3s;
    font-family:'Trebuchet MS';
    font-weight: 600px;
}

.section-button:hover {
    background-color: #ffffff00;
    color: rgb(255, 32, 32);
    border: 2px solid rgb(255, 61, 61) ;

}

/* Responsive adjustments */
@media (max-width: 768px) {
    .section-image, .section-text {
        width: 90%; /* Take up more width on smaller screens */
        max-width: 100%;
        text-align: center; /* Center text on smaller screens */
    }

    .section-content {
      justify-content: center;
    }
}

/* Specific section styling (optional) */
.shop-section {
    background-image: url('../assets/images/homeshopcont.jpeg');
}

.coaching-section {
    background-image: url('../assets/images/admin-card.jpg');
}

.services-section {
    background-image: url('../assets/images/admin-card.jpg');
}

.consulting-section {
    background-image: url('../assets/images/admin-card.jpg');
}