.sm-dashboard-container {
    background-color: #121212;
    min-height: 100vh;
    padding: 0px 0px;
    text-align: center;
    color: #ffffff;
}

.sm-dashboard-title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', sans-serif;
    color: #ffcc00; 
}

.sm-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.sm-repair-card {
    background-image: url("../../assets/images/repairlogo.png");
}
.sm-inventory-card {
    background-image: url("../../assets/images/inventorylogo.jpg");
}
.sm-reports-card {
    background-image: url("../../assets/images/reportlogo.jpg");
}


.sm-card {
    width: 280px;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.sm-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.4);
}

.sm-card-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 0 0 20px 20px;
}

.sm-card-link {
    text-decoration: none;
}

@media (max-width: 768px) {
    .sm-card {
        width: 100%;
        max-width: 350px;
    }
}
